body {
    background: url("../uskoro.png");
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position: center center;
    background-color: #201e1f;
    background-size: cover;
}

@media only screen and (max-width: 1660px) {
    body {
        background-size: contain;
    }
}